<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas</title>
    <link rel="stylesheet" href="../public/css/homeStyle.css">
</head>
<body>

    <div class="header">
        <div class="header-left">
            <img src="../../assets/logo.png" alt="Logo">
            <h2>Cupons</h2>
        </div>
        <div class="login-area">
            <img src="https://fastly.picsum.photos/id/111/4400/2656.jpg?hmac=leq8lj40D6cqFq5M_NLXkMYtV-30TtOOnzklhjPaAAQ" alt="Avatar">
            <a href="login.html">
                <button>Entrar</button>
            </a>
        </div>
    </div>


    <div class="main-container">
        <div class="sidebar">
            <a href="home.html">Pagina inicial</a>
            <a class="active" href="offers.html">Ofertas</a>
            <a href="coupons.html">Cupons</a>
            <a href="profileUser.html">Perfil</a>
            <a href="settings.html">Configurações</a>
            <a href="support.html">Suporte</a>
            <a href="support_admin.html">Suporte ADM</a>
            <a href="login.html">Sair</a>
        </div>

        <div class="content">
            <h1>Cupons</h1>
            <p>Confira abaixo os produtos cadastrados com cupons de desconto.</p>


            <div id="products">
                <div class="product">
                    <h3>Produto 1</h3>
                    <img src="../../assets/cad_1.png" alt="Produto 1" style="width:100px; height:100px;">
                    <p>Descrição do produto 1</p>
                    <p>Preço: R$ 1,00</p>
                    <button onclick="addToCart('Produto 1', 1, '../../assets/cad_1.png')">Adicionar ao Carrinho</button>
                </div>

                <div class="product">
                    <h3>Produto 2</h3>
                    <img src="../../assets/cad_2.png" alt="Produto 1" style="width:100px; height:100px;">
                    <p>Descrição do produto 2</p>
                    <p>Preço: R$ 1,00</p>
                    <button onclick="addToCart('Produto 1', 1, '../../assets/cad_2.png')">Adicionar ao Carrinho</button>
                </div>

                <div class="product">
                    <h3>Produto 3</h3>
                    <img src="../../assets/cad_3.png" alt="Produto 1" style="width:100px; height:100px;">
                    <p>Descrição do produto 3</p>
                    <p>Preço: R$ 1,00</p>
                    <button onclick="addToCart('Produto 1', 1, '../../assets/cad_3.png')">Adicionar ao Carrinho</button>
                </div>

                <div class="product">
                    <h3>Produto 4</h3>
                    <img src="../../assets/product_left.png" alt="Produto 1" style="width:100px; height:100px;">
                    <p>Descrição do produto 4</p>
                    <p>Preço: R$ 1,00</p>
                    <button onclick="addToCart('Produto 1', 1, '../../assets/product_left.png')">Adicionar ao Carrinho</button>
                </div>

                <div class="product">
                    <h3>Produto 5</h3>
                    <img src="../../assets/product_right.png" alt="Produto 1" style="width:100px; height:100px;">
                    <p>Descrição do produto 5</p>
                    <p>Preço: R$ 1,00</p>
                    <button onclick="addToCart('Produto 1', 1, '../../assets/product_right.png')">Adicionar ao Carrinho</button>
                </div>

            </div>
        </div>
    </div>

    <script src="../public/js/cart.js"></script>
</body>
</html>
