<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Usuário</title>
    <link rel="stylesheet" href="../public/css/homeStyle.css">
</head>

<body>

    <!-- Cabeçalho -->
    <div class="header">
        <div class="header-left">
            <img src="../../assets/logo.png" alt="Logo"> <!-- Substitua "sua-logo.png" pela URL correta da imagem -->
            <h2>KogTcg</h2>
        </div>
        <div class="login-area">
            <img src="https://via.placeholder.com/30" alt="Avatar">
            <a href="login.html">
                <button>Entrar</button>
            </a>
        </div>
    </div>

    <!-- Estrutura principal -->
    <div class="main-container">
        <div class="sidebar">
            <a class="active" href="#dashboard">Pagina inicial</a>
            <a class="active" href="#dashboard">Ofertas</a>
            <a class="active" href="#dashboard">Cupons</a>
            <a href="#perfil">Perfil</a>
            <a href="#configuracoes">Configurações</a>
            <a href="#mensagens">Suporte</a>
            <a href="#sair">Sair</a>
        </div>

        <div class="content">
            <h1>Bem-vindo aqui você também pode ser o Rei dos Jogos</h1>
        </div>
    </div>

</body>

</html>